
<button (click)="isOpen = !isOpen" cdkOverlayOrigin #trigger="cdkOverlayOrigin" class="clickable-field w-100p">
  Show Data Picker
</button>

{{ getStringMonthOut() }}

<ng-template
  cdkConnectedOverlay
  cdkConnectedOverlayBackdropClass="cdk-overlay-transparent-backdrop"
  [cdkConnectedOverlayOrigin]="trigger"
  [cdkConnectedOverlayOpen]="isOpen"
  [cdkConnectedOverlayHasBackdrop]="true"
  (backdropClick)="closePopup()"
>

  <div class="wrap-datapicker-body">
    <div class="wrap-datepicker-header">
      <button (click)="setYearSlide()" class="btn-date">  {{ (fullYear$ | async) || 'Year' }}</button>
      <button (click)="setMonthSlide()" class="btn-date" [class.-month]="true">
        {{  'Month' && (month | date: 'MMMM' | titlecase) }}
      </button>
      <button (click)="setDaySlide()" class="btn-date">
        {{ (day | date: 'dd' | titlecase) || 'Day' }}
      </button>
    </div>


    <div class="wrap-block-date" *ngIf="typeSlide === slides.isMonthList">
      <button
        class="block-month"
        *ngFor="let item of monthList"
        (click)="monthChange(item)"
        [disabled]="dateFilter(item)"
        [class.-active]="isCurrentDate(item)"
        [class.-disabled]="dateFilter(item)"
      >
        {{ item | date: 'MMMM' | titlecase }}
      </button>
    </div>
    <div class="wrap-block-date" *ngIf="typeSlide === slides.isYearList">
      <button
        class="block-year"
        *ngFor="let item of yearList"
        (click)="yearChange(item)"
        [disabled]="dateFilter(item)"
        [class.-active]="isCurrentDate(item)"
        [class.-disabled]="dateFilter(item)"
      >
        {{ item | date: 'YYYY' | titlecase }}
      </button>
    </div>

      <div *ngIf="typeSlide === slides.isDayList" class="wrap-block-day">
        <button
          class="block-day"
          *ngFor="let item of dayList"
          (click)="onDayChange(item)"
          [disabled]="dateFilter(item)"
          [class.-active]="isCurrentDate(item)"
          [class.-disabled]="dateFilter(item)"
        >
          {{ item | date: 'dd' | titlecase }}
        </button>
      </div>
  </div>

</ng-template>

